<!doctype html>
<html>
<head>
    <title>Aride</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/aride.css">
</head>
<body>

  <nav role="navigation" class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" data-toggle="collapse" data-target="#topNav" class="navbar-toggle collapsed"></button><a href="/" class="navbar-brand">Aride </a>
    </div>
    <div id="topNav" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-left">
        <li>
          <a href="/rent">Rent</a>
        </li>
        <li>
          <a href="/park">Park</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%if (auth){%>
            <a href="/logout">Logout</a>
          <%}%>
          <%if (!auth){%>
            <a  href="/login">Login</a>
          <%}%>
        </li>
        <li>
          <%if (!auth){%>
            <a href="/signup">Register</a>
          <%}%>
          <%if (auth){%>
            <a href="/profile"><%= user.first %> <%= user.last %></a>
          <%}%>
        </li>
      </ul>
    </div>
  </div>
</nav>

  <header class="intro">
    <div class="intro-body">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-md-offset-4">
            <h1 class="brand-heading text-center">Aride</h1>
          </div>
        </div>
      </div>
    </div>
  </header>

  <section id="logo" class="container content-section text-center">
    <div class="row">
      <img src="/img/logo.svg">
    </div>
  </section>

    <!-- About Section -->
  <section id="about" class="container content-section text-center">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <h2>ABOUT ARIDE</h2><br>
        <p>Aride is a long distance ridesharing service, connecting drivers with empty seats to people travelling the same way. With Aride, you can find Notre Dame friends, classmates, and coworkers going the same way you are.</p>

        <p>Have a car? Need a ride?</p><br>
        <p>Aride helps you offer or request rides for commutes, road trips, and popular events. If you have a car, split costs by offering rides. If you don't have a car, find rides where you need to go.</p>

        <p>A pleasant ride-sharing experience</p><br>
        <p>Using personal network analysis algorithm, Aride matches you with people with common friends and similar interests to guarantee you a pleasant ride.</p>
      </div>
    </div>
  </section>

  <section id="powered" class="content-section text-center">
    <div class="row">
      <h2>Powered By</h2><br>
      <img src="/img/hadoop-logo.png">
      <img src="/img/node-js-logo-large.png">
      <img src="/img/angularjs-large.png">
      <img src="/img/d3.png">
      <img src="/img/mongodb-nosql-logo.png" style="width:70%;">
    </div>
  </section>

</body>
</html>
